.container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: var(--spacing-md);
}

@media (min-width: 48rem) {
  .container {
    padding-inline: var(--spacing-lg);
  }
}

.container--fluid {
  max-width: none;
}
